@import 'core/variables.scss';
@import 'vendors/normalize.scss';

html{
	font-size:16px;
}
.page{
	margin:0;
	height: 100vh;
	background-color:$color-white;
	font-family:$font-text;
	}

/*imports layout*/

@import 'layout/header.scss';
@import 'layout/footer.scss';

/*imports components*/
@import 'components/hero.scss';
@import 'components/article.scss';
@import 'components/main-reasons.scss';

 
	





 