<article class="article" id="articles">
    <div class="article__container">
        <span class="article__category">Insomnia tips</span>
        <h2 class="article__tittle">
            Looking Through A Window
        </h2>
        <p class="article__text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex
            diam nec lectus. Vivamus
            semper sodales rutrum.</p>
        <a class="article__button" href="#articlepage">Go</a>
    </div>
</article>