<div class="footer__button-cont">
    <button class="footer__button">
        <a class="footer__link" href="#top"></a>
    </button>

</div>

<footer class=footer>
    <div class="footer__container">
        <nav class="footer__nav">
            <ul class="footer__list">
                <li class="footer__item">Articles</li>
                <li class="footer__item">Books</li>
                <li class="footer__item">Events</li>
                <li class="footer__item">Reasons</li>
                <li class="footer__item">Tips</li>
            </ul>
        </nav>
        <div class="footer__social-container">
            <ul class="footer__list-social">
                <li class="footer__item">Twitter</li>
                <li class="footer__item">Instagram</li>
                <li class="footer__item">Mastodon.social</li>
            </ul>
        </div>
        <div class="footer__copy">
            <span>©2017</span>
            <span>we components</span>
        </div>
    </div>

</footer>