<main>
    <section class="hero">
        <div class="hero__container">
            <h1 class="hero__tittle">
                <span>ANONYMOUS</span>
                <span>PROXY</span>
            </h1>
            <span class="hero-text">In hac habitasse platea dictumst.
            </span>
        </div>
        <div class="hero__button-cont">
            <button class="hero__button"><a class="hero__link" href="#top"></a>
            </button>
        </div>
    </section>
    <article class="article">
        <div class="article__container">
            <span class="article__category">Insomnia tips</span>
            <h2 class="article__tittle">
                Looking Through A Window
            </h2>
            <p class="article__text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex
                diam nec lectus. Vivamus
                semper sodales rutrum.</p>
            <a class="article__button" href="#articlepage">Go</a>
        </div>
    </article>
    <section class="reasons">
        <div class="reasons__container">
            <h2 class="reasons__tittle">3 Reasons To Purchase</h2>
            <ul class="reasons__list">
                <li class="reasons__option">
                    <h3 class="reasons_option-tittle">Ut sed metus</h3>
                    <p class="reasons_option-text">
                        Lorem ipsum dolor sit amet, consecteur.
                    </p>
                </li>
                <li class="reasons__option">
                    <h3 class="reasons_option-tittle">Curabitur ac erat</h3>
                    <p class="reasons_option-text">
                        Mauris mattis urna quis lorem molestie.
                    </p>
                </li>
                <li class="reasons__option">
                    <h3 class="reasons_option-tittle">Morbi dictum</h3>
                    <p class="reasons_option-text">
                        Aliquam in dolor et dolor tincidunt.
                    </p>
                </li>
        </ul>
        <button>
                More reasons
        </button>
        </div>
    </section>
</main>