<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Anonymus proxy</title>
  <link rel="stylesheet" href="assets/css/main.css" />
  <link rel="stylesheet" href="assets/css/vendors/normalize.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="page">
   <!---- HEADER --->
   <partial src="_header.html" label="Header"></partial>
  <!---- MAIN --->
  <main>
   <partial src="_hero.html" label="Hero"></partial>
   <partial src="_article.html" label="Article"></partial>
   <partial src="_main.html" label="Main"></partial>
   </main>
  <!---- FOOTER --->
  <partial src="_footer.html" label="Footer"></partial>  
    
</body>

</html>