* {
  margin: 0;
  padding: 0;
}

.page {
  margin: 0;
  height: 100vh;
  background-color: #ffffff;
  font-family: "Roboto Slab", sans-serif;
}/*HEADER STYLES*/.header {
  position: fixed;
  z-index: 1;
  width: 45px;
  height: 45px;
}

.header__menu-button {
  background-color: #0271bc;
  width: 100%;
  border: none;
  padding: 12.5px;
}/*MAIN STYLES*/.hero {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.hero__container {
  text-align: center;
  color: #ffffff;
  font-family: "Roboto Slab", sans-serif;
  font-size: 2.1rem;
}

.hero__tittle {
  font-weight: 700;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.hero-text {
  font-size: 16px;
}

.hero__button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: center white no-repeat;
  border: none;
  background-image: url("../images/ico-scroll-down.svg");
  margin-bottom: 45px;
}

.hero__link {
  padding: 25px;
}

.article {
  padding: 30px 15px 0px 15px;
}

.article__container {
  line-height: 30px;
  background-color: #ffffff;
  border: 2px solid red;
  height: 376px;
}

.article__category {
  color: #8ccbea;
  font-size: 14px;
}

.article__tittle {
  font-size: 24px;
}

.article__text {
  font-size: 18px;
  color: #4a4a4a;
  margin-top: 15px;
  margin-bottom: 30px;
}

.article__button {
  height: 45px;
  border: 2px solid #f26002;
  border-radius: 22.5px;
  line-height: 45px;
  font-size: 20px;
  color: #f26002;
  padding: 10px 25px;
}

.reasons__container {
  background-color: #eff9ff;
  padding: 30px 0 60px;
  line-height: 30px;
  text-align: center;
  border: 2px solid red;
}

.reasons__tittle {
  margin-bottom: 45px;
}

.reasons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.reasons__option {
  margin-bottom: 45px;
  max-width: 50%;
  border: 2px solid red;
}

.reasons__option-tittle,.reasons__option-text {
  width: 60%;
}

.reasons__button {
  height: 45px;
  padding: 0 15px;
  border: none;
  border-radius: 22.5px;
  background-color: #f26002;
  color: #ffffff;
  font-size: 20px;
}/*FOOTER STYLES*/.footer {
  padding: 45px 0;
  background-color: #304268;
  color: #ffffff;
  text-align: center;
}

.footer__container {
  padding: 15px 15px;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid red;
}

.footer__nav {
  border: 2px solid red;
  padding: inherit;
}

.footer__social-container {
  border: 2px solid red;
  padding: inherit;
}

.footer__copy {
  padding: inherit;
  text-transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__button-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.footer__button {
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: center white no-repeat;
  border: none;
  background-image: url("../images/ico-arrow.svg");
}

.footer__link {
  padding: 25px;
}

/*# sourceMappingURL=main.css.map */
