/*COLOR VARIABLES*//*FONTS VARIABLES*//*LINEHEIGHT*/* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.page {
  margin: 0;
  height: 100vh;
  background-color: #ffffff;
  font-family: "Roboto Slab", sans-serif;
}/*imports layout*/.header {
  position: fixed;
  z-index: 1;
  width: 45px;
  height: 45px;
}

.header__menu-button {
  background-color: #0271bc;
  width: 100%;
  border: none;
  padding: 12.5px;
}

.footer {
  font-size: 16px;
  background-color: #304268;
  color: #ffffff;
  line-height: 30px;
  text-align: center;
}

.footer__container {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 15px 0 15px;
}

.footer__nav {
  margin-top: 60px;
}

.footer__social-container {
  margin-top: 30px;
}

.footer__copy {
  font-size: 14px;
  margin: 30px 0 45px 0;
  text-transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__link {
  text-decoration: none;
  color: #ffffff;
}

.footer__icon {
  color: #f26002;
  padding: 5px;
}

.footer__button-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.footer__button {
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: center white no-repeat;
  border: none;
  background-image: url("../images/ico-arrow.svg");
}

.footer__button-link {
  padding: 25px;
}/*imports components*/.hero {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.hero__container {
  text-align: center;
  color: #ffffff;
  font-family: "Roboto Slab", sans-serif;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.hero__tittle {
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.hero-text {
  font-size: 16px;
}

.hero__button-cont {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin: 45px 0 53px 0;
}

.hero__button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: center white no-repeat;
  border: none;
  background-image: url("../images/ico-scroll-down.svg");
}

.hero__link {
  padding: 15px;
}

.article {
  padding: 30px 15px 0px 15px;
}

.article__container {
  line-height: 30px;
  margin-bottom: 30px;
  background-color: #ffffff;
}

.article__category {
  color: #8ccbea;
  font-size: 14px;
}

.article__tittle {
  font-size: 24px;
}

.article__text {
  font-size: 18px;
  color: #4a4a4a;
  margin-top: 15px;
  margin-bottom: 30px;
}

.article__button {
  border: 2px solid #f26002;
  border-radius: 22.5px;
  line-height: 45px;
  font-size: 20px;
  color: #f26002;
  padding: 10px 25px;
}

.article__button:hover {
  background-color: #f26002;
  color: #ffffff;
}

.article__button:active {
  color: #000000;
  background-color: #ffffff;
}

.reasons__container {
  background-color: #eff9ff;
  padding-top: 30px;
  line-height: 30px;
  text-align: center;
}

.reasons__tittle {
  margin-bottom: 45px;
}

.reasons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.reasons__option {
  margin-bottom: 45px;
  max-width: 50%;
}

.reasons__option-tittle,.reasons__option-text {
  width: 60%;
}

.reasons__button {
  height: 45px;
  padding: 10px 25px;
  border: none;
  border-radius: 22.5px;
  background-color: #f26002;
  outline: none;
  color: #ffffff;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 60px;
  cursor: pointer;
}

.reasons__button:hover {
  background-color: #ffffff;
  border: 2px solid #f26002;
  color: #f26002;
}

.reasons__button:active {
  color: #000000;
  border: 2px solid #f26002;
  outline: none;
}

@media all and (min-width: 768px) {
  .footer__container {
    margin: 0  39px 0px 39px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
  }

  .footer__copy {
    -webkit-box-ordinal-group: -1;
    -ms-flex-order: -2;
    order: -2;
  }

  .footer__nav,.footer__social-container,.footer__copy {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .hero__container {
    max-width: 690px;
  }

  .hero__tittle {
    font-size: 80px;
    line-height: 106px;
    margin-bottom: 20px;
  }

  .hero-text {
    font-size: 24px;
  }

  .hero__button-cont {
    margin: 30px 0 45px 0;
  }

  .article {
    padding: 30px 39px 0 39px;
  }

  .article__container {
    margin-bottom: 60px;
  }

  .article__tittle {
    font-size: 26px;
  }

  .article__text {
    font-size: 20px;
  }

  .reasons__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }

  .reasons__option {
    margin: 0;
    max-width: 80%;
    justify-self: center;
  }

  .reasons__option-tittle,.reasons__option-text {
    width: 100%;
  }

  .reasons__button {
    margin: 60px;
    padding: 6px 45px;
  }
}

@media all and (min-width: 1280px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__container {
    padding: 45px 0 45px 0;
  }

  .footer__nav {
    width: 161px;
    margin: 0 15px 0 15px;
  }

  .footer__social-container {
    width: 159px;
    margin: 0 15px 0 15px;
  }

  .footer__copy {
    margin: 0 15px 0 15px;
  }

  .footer__button:hover {
    -webkit-transform: translate(0, -60%) scale(1.2);
    transform: translate(0, -60%) scale(1.2);
    border: 1px solid #304268;
  }

  .hero__container {
    max-width: 730px;
  }

  .hero__tittle {
    font-size: 100px;
    line-height: 132px;
    margin-bottom: 0;
  }

  .hero__button-cont {
    margin: 30px 0 13px 0;
  }

  .article__container {
    margin: 0 275px 60px 275px;
  }

  .article__button {
    padding: 5px 55px;
  }

  .reasons__container {
    padding-top: 60px;
  }

  .reasons__list {
    margin: 0 85px 0 85px;
  }
}

/*# sourceMappingURL=main.css.map */
