.article{
	padding:30px 15px 0px 15px;
}
.article__container{
	line-height: 30px;
	margin-bottom:30px;
	background-color:$color-white;
	border:2px solid red;

}
.article__category{
	color:$color-lightblue;
	font-size: 14px;
}
.article__tittle{
	font-size:24px;
}
.article__text{
	font-size:18px;
	color:$color-grey;
	margin-top:15px;
	margin-bottom:30px;
}
.article__button{

	border:2px solid $color-orange;
	border-radius: 22.5px;
	line-height: $lineheight-ma;
	font-size:$fontsize-ma;
	color:$color-orange;
	padding:10px 25px;
	&:hover{
		background-color: $color-orange;
		color:white;}
	&:active {
		color: black;}
}
@media all and (min-width:768px){
	.article{
		padding:30px 39px 0 39px;
	}
	.article__container{
		margin-bottom:60px;
	}
	.article__tittle{
		font-size:26px;
	}
	.article__text{
		font-size:20px;
	}
@media all and (min-width:1280px){
	.article__container{
		margin:0 275px 60px 275px;
	}
	.article__button{
		padding:5px 55px;
		
	}
}

}