.article{
	padding:30px 15px 0px 15px;
}
.article__container{
	line-height: 30px;
	background-color:$color-white;
	border:2px solid red;
	height: 376px;
}
.article__category{
	color:$color-lightblue;
	font-size: 14px;
}
.article__tittle{
	font-size:24px;
}
.article__text{
	font-size:18px;
	color:$color-grey;
	margin-top:15px;
	margin-bottom:30px;
}
.article__button{
	height: 45px;
	border:2px solid $color-orange;
	border-radius: 22.5px;
	line-height: 45px;
	font-size:20px;
	color:$color-orange;
	padding:10px 25px;
}
@media all and (min-width:768px){
	.article{
		padding:30px 39px 0 39px;
	}
	.article__container{
		height: 330px;
	}
	.article__tittle{
		font-size:26px;
	}
	.article__text{
		font-size:20px;
	}
}