.hero{
	background-image:url("../images/cover.jpg");
	background-size: cover;
	background-position: center;
	height: 100vh;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:flex-end;
	border:2px solid red;

	}
.hero__container{
	/*max-width: 320px;*/
	text-align:center;
	color:$color-white;
	font-family:$font-text;
	border:2px solid red;
	order:1;
	@media all and (min-width:768px){
		max-width: 690px;
	}
	@media all and (min-width:1280px){
		max-width: 730px;
	}

}
.hero__tittle{
	font-weight: $font-weight;
	font-size:$fontsize-mh;
	line-height: $lineheight-mh;
	margin-bottom:10px;
	display:flex;
	flex-direction:column;
	text-align: center;
	border:2px solid red;
	@media all and (min-width:768px){
		font-size:$fontsize-th;
		line-height: $lineheight-th;
		margin-bottom:20px;
	}
	@media all and (min-width:1280px){
		font-size:$fontsize-dh;
		line-height:$lineheight-dh;
		margin-bottom:0;

	}

}
.hero-text{
	font-size: $fontsize-mtxt;
	border:2px solid red;
	@media all and (min-width:768px){
		font-size:$fontsize-ttxt;
	}

}

.hero__button-cont{
	order:2;
	margin:45px 0 53px 0;

	@media all and (min-width:768px){
	margin:30px 0 45px 0;
	}
	@media all and (min-width:1280px){
		margin:30px 0 13px 0;
		}
}
.hero__button{
	width: 45px;
	height: 45px;
	border-radius:50%;
	background:center white no-repeat;
	border:none;
	background-image:url("../images/ico-scroll-down.svg");
	border:2px solid red;
	}	
.hero__link{
	padding:15px;
	border:2px solid red;
}
span{
	border:2px solid red;
}

