.reasons__container{
	background-color:$color-blue;
	padding-top:30px;
	line-height:30px;
	text-align: center;
	@media all and (min-width:1280px){
		padding-top:60px;
	}
}
.reasons__tittle{
	margin-bottom:45px;
}
.reasons__list{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@media all and (min-width: 768px) {
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows:1fr;
		column-gap:30px;
		
	}	
	@media all and (min-width: 1280px) {
		margin: 0 85px 0 85px;
	}
}
.reasons__option{
	margin-bottom:45px;
	max-width:50%;
	@media all and (min-width:768px){
		margin:0;
		max-width:80%;
		justify-self:center;}

	}
.reasons__option-tittle,  .reasons__option-text{
	width:60%;
	@media all and(min-width:768px){
		width: 100%;
	}
}
.reasons__button{
	height: 45px;
	padding:10px 25px;
	border:none;
	border-radius:22.5px;
	background-color:$color-orange;
	outline:none;
	color:$color-white;
	font-size:$fontsize-ma;
	display:inline-block;
	margin-bottom:60px;
	cursor:pointer;
	&:hover{
	background-color: $color-white;
	border:2px solid $color-orange;
	color:$color-orange;
	}

	&:active {
	color: $color-black;
	border:2px solid $color-orange;
	outline: none;
	}

	@media all and(min-width:768px){
		margin:60px;
		padding:6px 45px;
	}
}	