.footer{
    font-size: $fontsize-mtxt;
    background-color: $color-darkblue;
    color:$color-white;
    line-height:$lineheight-mf;
    text-align: center;
    }

.footer__container{
    text-transform: uppercase;
    display:flex;
    flex-direction: column;
    align-items:center;
    margin:0 15px 0 15px;
    }
.footer__nav{
    margin-top:60px;
    }
.footer__social-container{
    margin-top:30px;
   }
.footer__copy{
    font-size:$fontsize-mf;
    margin:30px 0 45px 0;
    text-transform: none;
    display:flex;
    flex-direction: column;
    }
.footer__link{
    text-decoration: none;
    color:$color-white;
    }
.footer__icon{
    color:$color-orange;
    padding:5px;
    }
.footer__button-cont{
    display:flex;
    flex-direction: row;
    justify-content: center;
    position:relative;
    }
.footer__button{
   position: absolute;
   transform: translateY(-50%);
   width: 45px;
   height: 45px;
   border-radius:50%;
   background:center white no-repeat;
   border:none;
   background-image:url("../images/ico-arrow.svg");
    }
.footer__button-link{
    padding:25px;
}

@media all and (min-width:768px){
    .footer__container{
        margin: 0  39px 0px 39px;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align:left;}
    .footer__copy{
        order:-2;
    }
    .footer__nav,.footer__social-container,.footer__copy{
        margin-top:45px;
        margin-bottom:45px;
    }
}

@media all and (min-width:1280px){
    .footer{
        display:flex;
        justify-content: space-evenly;
        align-items: center;}
    
    .footer__container{
        padding: 45px 0 45px 0;
    }
    .footer__nav{
        width: 161px;
        margin: 0 15px 0 15px;
    }
    .footer__social-container{
        width: 159px;
        margin: 0 15px 0 15px;
    }
    .footer__copy{
        margin: 0 15px 0 15px;

    }
    .footer__button{
        
        &:hover {
        transform: translate(0,-60%) scale(1.2);
        border: 1px solid $color-darkblue;
        }

    }
 
}
