
/*COLOR VARIABLES*/

$color-white: #ffffff;
$color-orange: #f26002;
$color-blue:#eff9ff;
$color-lightblue: #8ccbea;
$color-medblue: #0271bc;
$color-darkblue: #304268;
$color-grey: #4a4a4a;
$color-black:#000000;

/*FONTS VARIABLES*/

$font-text:'Roboto Slab', sans-serif;
$font-weight:700;
$fontsize-mh:42px;
$fontsize-mtxt:16px;
$fontsize-th:80px;
$fontsize-ttxt:24px;
$fontsize-dh:100px;
$fontsize-ma:20px;
$fontsize-mf:14px;
$fontsize-tt:26px;
$fontsize-dt:32px;
$fontsize-atxt:18px;

/*LINEHEIGHTS*/

$lineheight-mh:55px;
$lineheight-th:106px;
$lineheight-dh:132px;
$lineheight-ma:45px;
$lineheight-mf:30px;