$color-white: #ffffff;
$color-orange: #f26002;
$color-blue:#eff9ff;
$color-lightblue: #8ccbea;
$color-medblue: #0271bc;
$color-darkblue: #304268;
$color-grey: #4a4a4a;
$font-text:'Roboto Slab', sans-serif;
$font-weight:700;




$fontsize-mh:42px;
$fontsize-mtxt:16px;
$fontsize-th:80px;
$fontsize-ttxt:24px;
$fontsize-dh:100px;
$fontsize-ma:20px;




$txt-xs: 14px;
$txt-sm: 16px;
$txt-md: 18px;
$txt-lg: 20px;
$txt-xl: 24px;
$txt-xl-tablet: 26px;
$txt-xl-desktop: 32px;
$txt-xxl: 42px;
$txt-xxl-tablet: 80px;
$txt-xxl-desktop: 100px;


$lineheight-mh:55px;
$lineheight-th:106px;
$lineheight-dh:132px;
$lineheight-ma:45px;